body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: #3d95d2;
}

i {
  cursor: pointer;
}

.custombutton {
  background-color: #3d95d2;
}
.signButton {
  background-color: #7a2a8b;
}
.custombutton:hover {
  background-color: #7a2a8b;
}
